#cloud-config
autoinstall:
  version: 1
  locale: en_US.UTF8
  keyboard:
    layout: es
  refresh-installer:
    update: yes
  ssh:
    install-server: true
    allow-pw: true
  updates: all
  packages:
    - qemu-guest-agent
    - sudo
  storage:
    layout:
      name: lvm
    swap:
      size: 0
  user-data:
    package_upgrade: true
    timezone: Europe/Madrid
    users:
      - name: "{{ user }}"
        passwd: "{{ gen_hashed_password.stdout }}"
        groups: [adm, cdrom, dip, plugdev, lxd, sudo]
        lock_passwd: false
        sudo: ALL=(ALL) NOPASSWD:ALL
        shell: /bin/bash
        ssh_authorized_keys:
          - "{{ pubkey }}"
